@charset "UTF-8";

* {
    color: #FFF;
}

body {
    background-image: linear-gradient(to right, #FF4654, #C63541);
}

main {
    background-color: #2c0514;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
}

.div1 {
    background-color: #2c0514;
    padding: 10px;
    border-radius: 10px;
    width: 250px;
}

.div2 {
    background-color: #2c0514;
    padding: 10px;
    border-radius: 10px;
    width: 250px;
}

.container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.div1, .div2 {
    display: inline-block;
    margin-right: 3px;
}

.h1-1 {
    width: 80%;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    background-color: #2c0514;
    text-align: center;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    width: 150px;
}

p {
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

a:link {
    color: lightgray;
}

a:visited {
    color: lightgray;
}